@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background-image: url(https://i.pinimg.com/originals/96/6a/7b/966a7b0fa51a0e145aa6b2fe8cd56923.jpg);
    color: white;
}

.mainTitle {
    font-size: xx-large;
    color: rgb(197, 114, 230);

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;


}

.activityBody {
    border: 2px solid rgb(255, 255, 255);
    color: rgb(214, 206, 206);
    margin: auto;

    width: 50%;
    padding: 20px;
    justify-content: space-evenly
}

.logoutRoutines {
    border: 2px solid rgb(255, 255, 255);
    color: rgb(214, 206, 206);
    margin: auto;

    width: 50%;
    padding: 20px;
    justify-content: space-evenly
}

.activity_id,
.activityName,
.activityDescription {

    padding-top: 10px;
    padding-bottom: 10px;
}

.HomeLink,
.RoutineLink,
.ActivitiesLink,
.MyRoutinesLink,
.Logbutton {
    color: rgb(249, 235, 78);
    width: auto;

}


.logout {
    color: rgb(252, 72, 72);
    font-size: large;
    cursor: pointer;
}

.logout:hover {
    color: rgb(254, 254, 254);
}

.searchBar {
    float: right;
    color: rgb(198, 80, 80);
    font-size: larger;
    margin-right: 2%;
}

.CreatePostLink {
    color: rgb(107, 230, 91);
    margin-left: 5%;
    font-size: larger;
    cursor: pointer;
}




.username {
    color: rgb(78, 64, 234);
}

.messageButton {
    color: green;
    font-size: large;
    cursor: pointer;
}

.messageButton:hover {
    color: rgb(225, 236, 60);
    font-size: large;
}

.deleteButton {
    float: right;
    color: rgb(225, 236, 60);
    font-size: x-large;
    border-bottom: 20px;
    cursor: pointer;
}

.deleteButton:hover {
    color: rgb(255, 2, 2);
}

.signupMessage {
    padding-left: 10px;
    color: rgb(198, 80, 80);
    font-size: medium;
}

.signupLink {
    color: lightblue;
}

.logCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: grey;

    border: 2px solid white;

}

.createRoutines {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: grey;

    border: 2px solid white;

}

.routineName,
.routineGoal {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.createActivityCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: grey;

    border: 2px solid white;
}

.activityName,
.activityDescription {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.signUpCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: grey;

    border: 2px solid white;
}

.passwordText,
.usernameText {
    color: rgb(255, 241, 116);
    font-size: large;
}

.passInput,
.userInput {
    color: rgb(232, 232, 232);
    font-size: large;
}

.signInError {
    color: orange;
}

.newActivityError {
    color: orange;
}

.logInButton {
    color: rgb(26, 33, 245);
    float: right;
    padding-right: 5px;
    font-size: x-large;
    cursor: pointer;
}

.logInButton:hover {
    color: rgb(253, 2, 2);
}

.createButton {
    color: rgb(198, 80, 80);
    float: right;
    padding-top: 10px;
    padding-right: 5px;
    font-size: x-large;
    cursor: pointer;
}

.createButton:hover {
    color: red;
}

.createPostCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: grey;

    border: 2px solid white;
}

.postCreate {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.titleLabel,
.descriptionLabel,
.priceLabel {
    color: rgb(255, 241, 116);
    font-size: large;

}

.titleInput,
.descriptionInput,
.priceInput {
    color: rgb(198, 80, 80);
    font-size: large;
}

.Welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.welcomeBanner,
.secondBanner,
.descriptionBanner {
    color: rgb(231, 124, 250);
    padding: 10px;

}

.logInSignUp {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.logInSignUpButton {
    color: rgb(255, 246, 80);
}

.logInSignUp2 {
    display: flex;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    font-size: x-large;

}

.logInSignUpButton2 {
    color: rgb(238, 253, 108);
}

.sendAMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: grey;

    border: 2px solid white;
}

.message {
    color: rgb(255, 241, 116);
    font-size: large;
}

.messageContent {
    color: rgb(198, 80, 80);
    font-size: large;
}

.messageCreate {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.sendMessageButton {
    color: rgb(198, 80, 80);
    float: right;
    padding-top: 10px;
    padding-right: 5px;
    font-size: x-large;
    cursor: pointer;
}

.gotMessages {
    color: rgb(255, 241, 116);
    font-size: large;
}